@charset "UTF-8";

@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family:'KOTRAHOPE';
}
.note-back{
	background-color: rgb(252,236,151);
}

.nav-card{
	border-radius: 50px 50px 50px 50px;
	
}

.dash-card-margin{
	margin-bottom: 10px;
}

.page-wrapping{
	margin-left: 20px;
	margin-right: 20px;
}
.main-navbar{
	cursor:pointer;
	font-size:15px;
}